body{
    background-color:rgb(196, 217, 255);
  
}
h1 {
    background-color:blue;
    color: #5be6ff;
    font-size: 30px;
}
h2 {
    background-color:blue;
    color: #5be6ff;
    font-size: 30px;
}
h3 {
    background-color:blue;
    color: #5be6ff;
    font-size: 30px;
}
p {
    font-size : 60px;
}
.Para_1 { 
    text-align: center;
    color:rgb(0,51,255);
    position:absolute;
    left: 15%;
    top:2%;
    font-family: "Oxanium", sans-serif;
    font-size: 100px;
    background-color: blue;
}
.Para_1:hover{
    color:#5be6ff;
}
.Para_2{
    text-align:left;
    color:red;
    font-family: "Oxanium", sans-serif;
}
.Para_3{
    text-align:left;
    color: red;
    font-family: "Oxanium", sans-serif;
}
.Para_4{
    text-align:left;
    color: red;
    font-family: "Oxanium", sans-serif;
}
ul {
    color: blue;
    inline-size:auto;
    background-color: #5be6ff;
    font-size: 30px;
    
}
a {
    text-decoration: none;
    color: blue;
}
a:hover {
    color: green;
}
.Para_5 {
    text-align:left;
    color: red;
    font-family: "Oxanium", sans-serif;
}
.p1 {
    color: crimson;
}
.p2 {
    color: crimson;
}
.p3 {
    color: crimson;
}
.p4 {
    color: crimson;
}
.p5 {
    color: crimson;
}
.p6 {
    color: crimson;
}
.p7 {
    color: crimson;
}
.p8 {
    color: crimson;
}
.p9 {
    color: crimson;
}
.p10 {
    color: crimson;
}
.p11 {
    color: crimson;
}
.p12 {
    color: crimson;
}
.p13 {
    color: crimson;
}
.p14{
    color: crimson;
}
.p15{
    color: crimson;
}
.Para_6 { 
    text-align: center;
    color:rgb(0,51,255);
    position:absolute;
    left: 37%;
    top:2%;
    font-family: "Oxanium", sans-serif;
    font-size: 100px;
    background-color: blue;
}
.Para_6:hover{
    color:#5be6ff;
}
